body {
  background: #f5f1fe;
  font-family: "Roboto Flex", sans-serif;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}
h2 {
  margin: 0 0 8px;
  font-size: 32px;
}
footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 60px;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 18px;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.london-date,
.los-angeles-date {
  opacity: 0.6;
  border-bottom: 1px dashed grey;
  margin-bottom: 18px;
}
.city-time {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  font-weight: bold;
}

.city-time small {
  display: flex-end;
  font-size: 14px;
  line-height: 30px;
  vertical-align: middle;
  margin-top: 5px;
}
.city:last-child {
  border: none;
}
